@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* .container {
  background: #000;
} */
main {
  width: 100%;
  height: 100vh;
  /* background-color: #300791; */
  background: linear-gradient(to right, #6a82fb, #6f1dc2);
  padding: 6% 5% 5% 5%;
  transition: all 0.9s ease;

  /* z-index: 10; */
}
.bubble {
  border-radius: 50%;
  background-color: aliceblue;

  opacity: 0.2;
  z-index: 0;
}
.img-bubble-left {
  position: relative;
  /* left: 10%;
  top: 20%; */
  right: 10%;
  width: 80px;
  height: 80px;
}
.img-bubble-right {
  position: relative;
  left: 10%;
  top: 20%;

  width: 50px;
  height: 50px;
}
.heading {
  font-size: 45px;
  text-shadow: 5px 3px 3px rgb(0, 0, 0);
  color: aliceblue;
}
.content-first {
  position: absolute;
  left: 140px;
  top: 80px;
  width: 75px;
  height: 80px;
}
.content-second {
  position: absolute;
  left: 400px;
  top: 350px;
  width: 180px;
  height: 180px;
  opacity: 0.1;
  display: none;
}
.second-heading {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
}
.site-content {
  padding: 8px 10px;
  font-size: 17px;
  font-family: sans-serif;
  text-align: left;
  color: #fff;
  line-height: 30px;
}

.menu .button-group {
  padding: 2px;
  display: flex;
}

.button-group button {
  margin: 10px;
  padding: 6px 30px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer !important;
  z-index: 10;
}

.start {
  /* background: #7f00ff; */
  background: tomato;
  color: #fff;
}
.card {
  width: 283px;
  height: 370px;
  /* border-radius: 2px 20px 2px 20px; */
  cursor: pointer;
  text-align: center;
  border: none;
  position: relative;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* border: 1px solid #000; */
}
.card .icon-group {
  display: flex;
  justify-content: space-between;
}
.card i:nth-child(1) {
  font-size: 30px;
  width: 29%;
  /* background-color: aquamarine; */
  padding: 20px;
  border-radius: 50%;
  margin: 15px;
  text-align: center;
}
.fa-code {
  background: rgba(66, 89, 221, 0.2);
  color: rgb(66, 89, 221);
}
.fa-database {
  background: rgba(60, 226, 66, 0.2);
  color: rgb(60, 226, 66);
}
.fa-file-code {
  background: rgba(245, 69, 29, 0.2);
  color: rgb(245, 69, 29);
}

.card i:nth-child(2) {
  font-size: 25px;
  padding: 20px;
  margin: 15px;
}
.card-title-1 {
  color: rgb(66, 89, 221);
  font-family: "Poppins", sans-serif;
}
.card-title-2 {
  color: rgb(60, 226, 66);
  font-family: "Poppins", sans-serif;
}
.card-title-3 {
  color: rgb(245, 69, 29);
  font-family: "Poppins", sans-serif;
}
.card h2 {
  margin-bottom: 10px;
}
.card p {
  font-family: sans-serif;
}
.all-cards .button-group {
  display: flex;
}
.card button {
  border: none;
  width: 120px;
  padding: 4px;
  background: rgb(218, 63, 63);
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
}

.wave {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 0;
}
.banner {
  width: 310px;
  height: 280px;
}

/* .all-cards {
  position: absolute;
  top: 60%;
} */
@media all and (max-width: 320px) {
  .menu .button-group button {
    font-size: 12px;
  }
  body {
    font-family: serif;
  }
  .heading {
    font-weight: 700;
  }
  .second-heading {
    font-weight: 600;
  }
  .button-group button {
    /* font-weight: 00; */
    font-size: 16px !important;
  }
}
@media all and (min-width: 768px) {
  main {
    height: 90vh;
  }
}
@media all and (max-width: 430px) {
  .banner {
    display: none;
  }
  .img-bubble-left,
  .img-bubble-right {
    display: none;
  }
}
@media all and (min-width: 370px) and (max-width: 430px) {
  .all-cards {
    margin-left: 10px;
  }
}
@media all and (min-width: 768px) and (max-width: 1000px) {
  .second-heading {
    font-size: 24px;
  }
  .all-cards {
    margin-left: -30px;
  }
  .card {
    width: 220px;
  }
  .box {
    margin-right: 15px;
  }
  .card i:nth-child(1) {
    font-size: 25px;
    width: 33%;
  }
  .card h2 {
    font-size: 26px;
  }
  .card button {
    font-size: 11px;
  }
  .menu .button-group button {
    font-size: 12px;
    font-weight: 700;
  }
  .banner {
    margin-top: 80px;
    width: 250px;
    height: 250px;
  }
}
