* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  margin: 20px;
}
header {
  width: 100%;
  height: 100%;
  padding: 3%;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right, #6a82fb, #7f00ff);
  /* background: rgb(209, 102, 102); */
}
.logo {
  font-size: 30px;
  font-weight: 500;
  font-family: monospace;
  margin-left: -5%;
}
.logo li {
  text-shadow: 3px 2px 3px rgba(23, 24, 24, 1);
}
.logo li a:hover {
  color: #fff !important;
  text-shadow: none;
}
.left-side,
.right-side {
  display: flex;
  font-size: 18px;
  font-weight: 500;

  font-family: sans-serif;
}
.left-side {
  flex: 0.4;
  margin-top: 12px;
  font-family: "Times New Roman", Times, serif;
}
.left-side a:hover {
  color: #fff;
  text-shadow: 3px 2px 3px rgba(23, 24, 24, 1);
}
.left-side a i:hover {
  transform: scale(1);
}
.right-side {
  flex: 0.4;
  margin-top: 12px;
}
header a {
  color: #fff;
}
header a i {
  transition: all 0.1s ease;
}
header a i:hover {
  color: tomato;
  transform: scale(2);
}
.fa-cloud-arrow-down {
  margin-top: 2px;
  margin-right: 5px;
}
header button {
  outline: none;
  border: none;
  padding: 8px;
  background: rgb(218, 63, 63);
  color: aliceblue;
  display: flex;
  margin-top: -6px;
  margin-left: 16px;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 17px;
  border-radius: 5px;
  /* border-radius: 1px 8px 1px 8px; */
}
.bubble {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: aliceblue;
  position: absolute;
  opacity: 0.2;
  z-index: 0;
}
.head-first {
  position: absolute;
  left: -80px;
  top: 0;
  width: 100px;
  height: 70px;
}
.head-second {
  position: absolute;
  right: 0px;
  top: -120px;
}
.menu-bar {
  display: none;
}

@media all and (min-width: 770px) {
  .fa-bars:before,
  .fa-navicon:before {
    content: "";
  }
}
@media all and (max-width: 770px) {
  /* .left-side {
    display: block;
    position: absolute;
    top: 30%;
    font-size: 30px;
    background: rgb(244, 131, 131);
    text-align: center;
    min-height: 60%;
    min-width: 60%;
  }
  .left-side li {
    margin: 40px;
  }
  .right-side {
    position: absolute;
    top: 65%;
  }
  .right-side button {
    padding: 20px 50px;
    margin: 10px;
  }
  .right-side li a {
    display: none;
  } */
  .left-side,
  .right-side {
    display: none;
  }
  .logo {
    font-size: 25px;
    margin-top: 10px;
  }
  .menu-bar {
    display: flex;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
  }
}
/* @media all and (min-width: 769px) {
} */
