* {
  padding: 0;
  margin: 0;
}
.cover-frame {
  width: 100%;
  height: 100vh;
  background: rgb(0, 37, 81);
  transition: all 1.3s ease;
  position: relative;
  z-index: 10;
}
.top-side {
  width: 100%;
  height: 8vh;
  background: rgb(241, 80, 80);
  position: relative;
}
.cancel-icon {
  position: absolute;
  top: 53%;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 37, 81, 0.9);
  border: 1px solid #fff;
  cursor: pointer;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancel-icon i {
  font-size: 25px;
  margin: 15px;
  color: #fff;
}
.menu-card button {
  outline: none;
  border: none;
  padding: 8px 30px;
  background: rgb(218, 63, 63);
  color: aliceblue;
  display: flex;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 20px;
  border-radius: 1px 8px 1px 8px;
}
.menu-card {
  /* background: rgb(136, 14, 14); */
  height: 80vh;
  padding: 10%;
}
.sign-up,
.help {
  display: flex;
  margin-top: 4%;
}

.sign-up i,
.help i {
  font-size: 60px;
  margin: 18px 0 0 10px;
  padding: 10px;
  color: wheat;
  /* background: rgb(58, 200, 210); */
}

.sign-up__datas,
.help__datas {
  margin: 15px 0 0 20px;
  color: #ccc;
}
.sign-up__datas h1 a,
.help__datas h1 a {
  color: #fff;
  margin-left: -7px;
}

.downlode {
  margin: 8% 0 0 10%;
}
.downlode i {
  margin-top: 6px;
}
@media all and (min-width: 770px) {
  .cover-frame {
    display: none;
  }
}
@media all and (max-width: 380px) {
  .sign-up__datas h1 a,
  .help__datas h1 a {
    font-size: 22px;
  }
}
@media all and (max-width: 430px) {
  .downlode {
    margin: 22% 0 0 14%;
  }
}
